# Core array & math
numpy
scikit-learn

# Computer vision & data augmentation
albumentations
opencv-python-headless
Pillow

# Plotting
matplotlib

# Deep learning frameworks
torch
torchvision

# Utilities
tqdm
wandb
omegaconf