
task_type: train

# Train the base unet with improvment module jointly (single loss)
train:
  type: improve
  out_dir: out/train/
  run_name: improve_joint
  make_unique_name: true
  log_wandb: True
  epochs: 300
  batch_size: 4
  validate_every: 5
  checkpoint_every: 20
  train_jointly: true

  optimizer:
    class_path: torch.optim.Adam
    args:
      lr: 5.0e-4

  lr_scheduler:
    class_path: torch.optim.lr_scheduler.CosineAnnealingLR
    args:
      T_max: 300
      eta_min: 5.0e-06
      last_epoch: -1

  criterion:
    class_path: src.train.utils.loss.get_bce_with_logits_loss
    args: {}


  transform:
    class_path: src.preprocessing.transform.augmented_transform
    args:
      height: 400
      width: 400

  collate_fn:
    class_path: src.train.utils.collate_fn.get_base_collate_fn
    args: {}


base_model:
  class_path: src.model.unet.Unet
  args:
    in_channels: 3
    out_channels: 1
    dropout_prob: 0.5


improved_model:
  class_path: src.model.unet.Unet
  args:
    in_channels: 1
    out_channels: 1
    dropout_prob: 0.5



